

.encabezado-principal {
  text-align: left;
  width: 100%;
  padding-left: 5vw;

}

.posteo { 
   border: "1px solid #ccc";
   margin: "1em 0"; 
   padding: "10px";
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-shadow: 0 0 3px 0 #000;
  
 }

 .imagenposteo { 
   width: "200px";
   margin: "5px" 
}

.contenedor-home {
  width: 100%;
  
}

.info {
  width: 330px;
  margin: 10px;
}

.imagenes-posteos {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.posteo-padre {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  
}