
.perfil-encabezado {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eee;
}

.perfil-titulo {
  text-align: center;
  color: #000;
  width: 100vw;
  padding:10px;
}

.cerrar-sesion {
  position: fixed;
  bottom: 5vh;
  right: 5vw
}

.publicaciones-encabezado {
  text-align: left;
  width: 100%;
  padding-left: 5vw;
}

.publicaciones {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 4vw;
  gap: 15px;
}

.tarjetiña {
  background-color: whitesmoke;
  padding: 3px;
  margin-bottom: 3px;
  box-shadow: 0 0 3px 0 #000;
  height: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: px;
  
}