.perfil-encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.perfil-titulo {
  text-align: center;
  color: #000;
  background-color: eee;
  width: 100vw;
  height: 300px;
}

.cerrar-sesion {
  position: absolute;
  bottom: 5vh;
  right: 5vw
}

.publicaciones-encabezado {
  text-align: left;
}