footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.author {
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  padding: 3px;
  background-color: #077;
  border-radius: 17px;
}

.name {
  color: whitesmoke
}

img {
  width: 60px;
  border-radius: 17px;
}

.titulo {
  color: whitesmoke
}

.copy {
  color: whitesmoke
}